extends ./layout/index

block contenido
    h1(class="mt-5 text-center") #{pagina}
    main.container.mt-5 
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec eleifend augue. Nunc euismod lectus nunc, in lobortis erat porttitor ut. Praesent accumsan nisi eget est maximus interdum. Mauris faucibus eu ex commodo egestas. Mauris ut egestas magna. In metus nisi, bibendum a ante et, pellentesque semper tortor.
                p Ut sit amet fermentum lacus. Sed ullamcorper quis tortor sit amet vehicula. Phasellus aliquam luctus purus, et placerat neque commodo vel. Donec in congue tortor. Donec at porttitor ligula. Sed eget interdum urna.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class="img-fluid")
