extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec eleifend augue. Nunc euismod lectus nunc, in lobortis erat porttitor ut. Praesent accumsan nisi eget est maximus interdum. Mauris faucibus eu ex commodo egestas. Mauris ut egestas magna. In metus nisi, bibendum a ante et, pellentesque semper tortor.
                p Ut sit amet fermentum lacus. Sed ullamcorper quis tortor sit amet vehicula. Phasellus aliquam luctus purus, et placerat neque commodo vel. Donec in congue tortor. Donec at porttitor ligula. Sed eget interdum urna.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class="img-fluid")
        include ./layout/bloque_viajes
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Mayo de 2024 - 31 de Mayo de 2024
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales
