extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")

            .col-md-7 
                h1 #{pagina}
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed lobortis neque. Cras ut vestibulum sapien. Suspendisse consequat tincidunt pulvinar. Curabitur eu risus in ligula fringilla cursus gravida ac orci. Phasellus a consectetur enim, non tempor ex. Ut in eros at augue dignissim dignissim at in dui. Duis hendrerit sem ac odio pharetra mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

                p  mollis nibh quis dolor sodales molestie. Praesent sollicitudin sed diam nec volutpat. Praesent varius sapien placerat, porta erat vitae, lacinia arcu. Nulla suscipit felis ut sem lacinia, sit amet congue ligula scelerisque. Aenean aliquam rutrum magna quis bibendum. Sed molestie, nibh sit amet ultricies scelerisque, velit sem scelerisque neque, et interdum magna turpis vel nisi. Nunc et efficitur tellus.

                p  accumsan venenatis tellus, in pellentesque nibh euismod ut. Pellentesque pellentesque in quam non mollis. Sed finibus orci a risus efficitur ullamcorper. Ut nec sagittis nibh. Ut sodales nibh a augue gravida, sit amet commodo diam varius. Aenean eu nisi et orci elementum cursus. Integer posuere felis cursus ipsum venenatis, quis ultrices augue efficitur. Mauris feugiat molestie diam, ac pellentesque libero vulputate et.
        .listado-iconos 
            .container.mt-5.py-5.text-center 
                .row 
                    .col-md-4 
                        img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Integer posuere felis cursus ipsum venenatis, quis ultrices augue efficitur. Mauris feugiat molestie diam, ac pellentesque libero vulputate et.

                    .col-md-4 
                        img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos 
                        p Integer posuere felis cursus ipsum venenatis, quis ultrices augue efficitur. Mauris feugiat molestie diam, ac pellentesque libero vulputate et.

                    .col-md-4 
                        img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                        h2.mb-4 Los mejores Precios 
                        p Integer posuere felis cursus ipsum venenatis, quis ultrices augue efficitur. Mauris feugiat molestie diam, ac pellentesque libero vulputate et.
        